:root { 
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --nav-text-color: #2196F3;
    --btn-text-color: #FFFFFF;
}

body {
    font-family: Roboto, sans-serif;
    background: #ffffff;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}


/* Header site */

.site-header {
    background-color: #ffffff;
}

.site-logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-text-color);
    text-decoration: none;
}

.logo {
    color: var(--nav-text-color);
}

.site-logo:hover,
.site-logo:focus {
    color: var(--nav-text-color);
}

.list {
    list-style: none;
}

.site-nav-item {
    background: #ffffff;
}

.site-nav-item .site-nav.current {
    color: var(--nav-text-color);
}

.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav:hover,
.site-nav:focus {
    color: var(--nav-text-color);
}

.site-contacts-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-contacts-nav:hover,
.site-contacts-nav:focus {
    color: var(--nav-text-color);
}


/* Студия */

.section-hero {
    background: #2F303A;
}

.section-name {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: var(--btn-text-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.button {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.9;
    color: var(--btn-text-color);
    font-weight: bold;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    
}

.button:hover,
.button:focus {
    background-color: #757575;
}

.section-work {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-work-list {
    font-size: 14px;
    line-height: 1.7;
    color: var(--title-text-color);
}

.section-main-work {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    }

.section-command {
    font-size: 16px;
    line-height: 1.2;
    }

.section-command-item {
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-text-color);
}    


/* Портфолио */


.button-item {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    background-color: #F5F4FA;
    cursor: pointer;
}

.button-item:hover,
.button-item:focus {
    background: #2196F3;
    color: var(--btn-text-color);
}

.block-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.block-theme {
    font-size: 16px;
    line-height: 1.9;
    color: var(--title-text-color);
}


/* Footer site */

.footer {
    background: #2F303A;
}
.site-logo-footer {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    color: var(--btn-text-color);
    text-decoration: none;
}

.site-logo-footer:hover,
.site-logo-footer:focus {
    color: var(--nav-text-color);
}

.footer-adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.footer-adress-company {
    line-height: 1.7;
    color: var(--btn-text-color);
    text-decoration: none;
}

.footer-adress-company:hover,
.footer-adress-company:focus {
    color: var(--nav-text-color);
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--nav-text-color);
}